<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Books</title>
    <link href="/static/main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>

        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td><button data-id="{{book.id}}" class="delete-button">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>

